.nextAndPrev {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  position: absolute;
  top: 50px;
  width: 70vw;
  z-index: 1;
  right: 0;
  justify-content: space-between;
}
.nextImg,
.prevImg {
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: rgb(255, 255, 255);
  margin: 15px;
  cursor: pointer;
}
.prevImg {
  right: 0px;
}
.nextImg::after {
  content: "<<";
  display: flex;
  justify-content: center;
  text-justify: center;
  font-size: 2rem;
}
.prevImg::after {
  content: ">>";
  display: flex;
  justify-content: center;
  text-justify: center;
  font-size: 2rem;
}
