.heading {
  margin-bottom: 40px;
}
.signupPage {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff26;
  padding: 30px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  width: fit-content;
}
.signupForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.signupInputim {
  border: none;
  border-radius: 5px;
  background: rgba(143, 172, 229, 0.3);
  font-size: inherit;
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
}

.signupFormSpacer {
  height: 50px;
  color: rgb(255, 255, 255);
}

.signupFormCheackbox {
  justify-self: end;
}

.signupFormButtons {
  border: 1px solid white;
  /* border-radius: 10px 10px 10px 10px; */
  background: rgba(143, 172, 229, 0.3);
  opacity: 0.8;
  font-size: inherit;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  /* margin-top: 50px; */
  margin-right: 10px;
}

.passwordButtons{
  border: 1px solid white;
  background: rgba(143, 172, 229, 0.3);
  opacity: 0.8;
  font-size: inherit;
  cursor: pointer;
  padding: 5px;
  width: fit-content;
  margin-right: 10px;
}

.signupFormButtons:hover {
  background: rgba(143, 172, 229, 0.7);
}

.errorMsg{
  color: red;
}

.submitAndresetButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 30px 0 30px
}