.realSizedImage {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.close {
  background-color: black;
  color: white;
  margin: 0px;
  cursor: pointer;
  align-self: center;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  padding: 5px;
}

.secondRowInEnlargedThumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  background-color: white;
}
.infoConnectors {
  padding: 0;
  margin: 0;
  font-weight: bold;
  align-self: center;
  color: rgb(0, 0, 0);
}
.userName,
.description {
  color: rgb(0, 0, 0);
  padding: 20px;
}

.userName {
  font-size: 1.5rem;
  font-weight: bold;
}
