.post {
  background-color: rgb(255, 252, 250);
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  box-shadow: 0 5px 15px rgba(135, 135, 135, 0.3);
  padding: 50px;
  /* width: 30vw; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.post:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 15px rgba(135, 135, 135, 0.3);
}
a:link,
a:active,
a:hover {
  color: black;
}
.postHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-content: space-around;
  width: 50vw;
}
.dateAndTime {
  display: flex;
  margin: 0px 30px 0px 30px;
}

.bolding {
  font-weight: bold;
}

.thumbnailsInPost {
  display: flex;
  margin: 30px;
}
