.feedContainer {
  display: flex;
}

.feedItems {
  align-self: center;
  background-color: rgba(183, 199, 231, 0.5);
  border-top: 2px solid rgba(183, 199, 231, 0.5);
  border-bottom: 2px solid rgba(183, 199, 231, 0.5);
  padding: 30px;
  border-radius: 25px;
  /* box-shadow: 5px 0px 30px rgb(165, 164, 164); */
  width: 50vw;
}
