.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 241, 240);
  padding: 30px;
  border-radius: 30px;
  border: 2px solid white;
  box-shadow: 5px 0px 30px rgb(165, 164, 164);
  width: 30vw;
}
.profilePic {
  width: 200px;
  padding: 0;
}
.changePicButton,
.changeDetailsButton {
  font-weight: bold;
  border: 1px solid #8face5;
  background-color: #ffffff;
}
.changePicButton:hover {
  box-shadow: 0px 0px 10px rgb(165, 164, 164);
}

.bold {
  font-weight: bold;
}
