.singleMessageTools {
  display: flex;
  justify-content: flex-end;
  /* gap: 30px; */
  height: 24px;
  cursor: pointer;
  margin: 30px 10px 0px 10px;
}

.replyButton:hover,
.deleteButton:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* Start of styling the popups on buttons */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 0.9rem;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

/* Here it ends */
