.formInputGrid{
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;   
    margin: 16px 0 0 0;
 /* grid-template-columns: auto 1fr;
    grid-gap: 16px;
    width: fit-content;
    margin: 16px; */
}
.textField{
    border: none;
    border-radius: 5px;
    background: rgba(143, 172, 229, 0.3);
    font-size: inherit;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
}