.formInputGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: space-between;   
    margin: 16px 0 0 0;

}
.textField{
    border: none;
    border-radius: 5px;
    background: rgba(143, 172, 229, 0.3);
    font-size: inherit;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
}