.formButton{
  border: 1px solid white;
  background: rgba(143, 172, 229, 0.3);
  opacity: 0.8;
  font-size: inherit;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  margin-right: 10px;
}

.formButton:hover {
  background: rgba(143, 172, 229, 0.7);
}