.sideBar {
  display: grid;
  grid-template-rows: 2 (1fr 1fr);
  padding: 0px;
  align-content: space-between;
}
.sidebarIcon {
  width: 50px;
  margin-right: 50px;
}
.secondRow {
  color: white;
  position: absolute;
  top: 100px;
  margin-top: 5px;
}
