body {
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: 30px;
  margin-left: 50px;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  height: 250px;
}
img {
  width: 50px;
}

.iconAndDescFlex {
  display: flex;
  justify-items: center;
  align-items: center;
}
