.postNewGrid {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff26;
  padding: 30px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  width: 50vw;
  margin-bottom: 20px;
}
.postNewFormDiv {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 160px 300px;
  grid-gap: 16px;
}

.heading {
  margin: 0px 0px 15px 0px;
  text-align: center;
}
.postNewLabel {
  padding-right: 5px;
}
.typeOfWorkSelect {
  margin-left: 5px;
}
.inputTextBigbox {
  width: 250px;
  height: 130px;
}
.formButtons {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.formButtons > button {
  margin: 10px;
}

.inputim {
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px;
  background: rgba(143, 172, 229, 0.3);
  font-size: inherit;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}

.formButtons {
  margin-top: 50px;
}

.postNewButtons {
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px;
  background: rgba(143, 172, 229, 0.3);
  opacity: 0.8;
  font-size: inherit;
  cursor: pointer;
  padding: 5px;
  width: 30%;
}

.postNewButtons:hover {
  background: rgba(143, 172, 229, 0.7);
}
