.headerGrid {
  display: grid;
  width: 100vw;
  grid-template-columns: [logo]350px [navbar]1fr;
}
.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 125px;
}
.fieldandbutton {
  display: flex;
  align-items: center;
}

.logo {
  width: 243px;
  height: 174px;
  margin: 20px 50px 50px 100px;
}
.account,
.dms,
.home,
.postNew {
  width: 44px;
  height: 44px;
}
.searchField {
  height: 25px;
  font-size: 1rem;
  border: 0px;
  background: rgba(191, 77, 40, 0.5);
}
::placeholder {
  color: rgba(0, 0, 0, 1);
}
button {
  color: rgb(0, 0, 0);
  background: rgb(191, 77, 40);
  /* background: url("../../icons/magnify.svg") no-repeat; */
  height: 25px;
  padding: 5px;
  border: 0px;
}
