.headerGrid {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  width: 90vw;
  justify-items: flex-end;
  margin-bottom: 50px;
  padding: 20px;
  background-color: white;
}
.TopBar {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
}

.searchField {
  font-size: 1rem;
  border: 1px solid #8face5;
  /* background: #c6c5dd; */
  height: 2rem;
  padding-left: 10px;
}
::placeholder {
  color: rgba(0, 0, 0, 1);
}
button {
  color: rgb(0, 0, 0);
  background: #8face5;
  height: 34px;
  border: 1px solid #8face5;
  font-weight: bold;
}

.logo {
  width: 7vw;
  margin: 0px 40px 0px 0px;
}
p {
  font-weight: bold;
}
