.singleMsgGrid {
  display: grid;
  grid-template-columns: 100px 30px 1fr;
}
.sendersProfilePic {
  width: 100px;
  height: 100px;
}
.space {
  width: 30px;
  height: 100px;
}
.msgDataGrid {
  display: grid;
}
.userNameDateAndTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 50vw;
}
